@charset "UTF-8";

@import url('https://fonts.cdnfonts.com/css/orator-std');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font: #edf0da;
    background-image: linear-gradient(to top,#31132a, #ad0987);
    background-attachment: fixed;
}

header{
    width: 100%;
    position: relative;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom, #6e3060 5%, #6e305f00);
    /*background-color: #4a204070;*/
    /*background-image: linear-gradient(to top, #4a2040 30%, #6e3060);*/
    /*background-color: #3f1b37;*/
    
}
header picture img{
    padding: 10px;
    align-items: flex-start;
}
header #menusuperior {
    display: flex;
    width: 50%;
    align-items: center;  
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
}
header #menusuperior ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
header #menusuperior ul li{ 
    width: 100px;
    list-style-type: none;
}
header #menusuperior ul li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 500;
    font-family:'Orator Std', monospace, 'Courier New', sans-serif, Courier;
    text-shadow: 0px 1px 2px black;
     
}

header #menusuperior ul li a:hover{
    background-color: #31132a50;
    text-shadow: 0px 0px 30px white;
    transition: 0.3s;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 10px;
}

#inicio{
    background-image: linear-gradient(to bottom, #31132a00 2%, #31132a73 99%), 
                                        url(imagens/outras-imagens/back-ondas.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    flex-wrap: wrap;
}
#inicio-chamada{
    display: flex;
    padding: 0 120px 0 120px;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    /*overflow: hidden; faz com que o conteúdo da div não estravase p tamanho da div*/
}
.titulo-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-shadow: 0px 1px 2px black;
}
#sessao1{
    width: 100%;
    right: 40%;
    min-width: 300px;
    /*border: 2px solid black;*/
    line-height: 50px;
    
}
#chamada{
    padding-top: 50px;
    display: flex;
    justify-content: flex-start;
    width: 50%;
    flex-wrap: wrap;
}
#foto-cd{
    max-width: 50%;
    /*display: flex;
    align-items: start;
    justify-content: center;*/
}

#foto-sessao-musica{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

#foto-sessao-musica picture{
    height: 533px;
}
#foto-sessao-musica picture img{
    width: 520px;
}

#musicas #player iframe{
    width: 400px;
    height: 533px;
           
}

@media(max-width: 900px){
    header{
        display: block;
        text-align: center;
    }
    header picture img{
        text-align: center;
        width: 150px;
    }
    header #menusuperior{
        width: 100%;
    }
    header #menusuperior ul li a{
        font-size: 15px;
    }
    #inicio-chamada{
        background-position: center;
        
    }
    #inicio{
        background-attachment: fixed;
    }
    #chamada{
        padding: 0;
        width: 100vh;
    }
    #foto-cd{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }
    #musicas{
        display: block;
        text-align: center;
    }
    #musicas .sessao-musica{
        width: 100%;
        background-position: center;
        background-size: 100vh;
        background-attachment: fixed;
    }
    #musicas .sessao-musica #player{
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #musicas .sessao-musica #player iframe{
        max-width: 350px;
        max-height: 380px;
    }
    #foto-sessao-musica{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    #foto-sessao-musica picture{
        max-height: 285px;
    }
    #foto-sessao-musica picture img{
        max-width: 279px;
    }
    #videos #video{
        padding-top: 50px;
        width: 100%;
        background-attachment: fixed;
    }
    #video .titulo-section{
        padding-bottom: 50px;
    }
    .video-yt{
        margin-top: 50px;
    }
}
/*article>iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 40%;
    height: 60%;
}*/
h1, h2, h3, h4, p, ul {
    text-align: center;
    font-family:'Orator Std', monospace, 'Courier New', sans-serif, Courier;
    font-style: normal;
    font-weight: 400;
    color: #edf0da;
}
p{
    color: #edf0da;
}
ul{
    list-style: none;
    color: #edf0da;
}
#musicas{
    background-image: linear-gradient(to top, #31132a00 20%, #31132a73 80%);
    min-height: auto;
    
}
.sessao-musica{
    padding: 10px 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(imagens/outras-imagens/back-universe.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    

}
#player{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#videos{
    /*background-image: linear-gradient(to bottom, #31132a00 2%, #31132a73 99%);*/
    background-color: #31132a;

}
#videos #video{
    background-image: url(imagens/outras-imagens/back-universe.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.video-yt{
    margin: 0 50px 50px 50px;
    border-radius: 10px;
}
#links{
    background-image: linear-gradient(to top, #31132a00 20%, #31132a73 80%);
    max-height: 900px;
}

#links #social{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#chamada #social{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#chamada #social picture{
    padding: 30px 10px;
}

#links #social picture{
    padding: 30px 10px;
}

#links #social .social-img, #chamada #social .social-img{

    width: 30px;
}

footer{
    background-color: #31132a;
    padding: 10px;    
}
footer a{
    text-decoration: none;
    color: #ad0987;
    font-weight: 600;
}

#links #menuinferior {
    display: flex;
    width: 100%;
    padding: 30px 0 40px;
    align-items: center;  
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
}
#links #menuinferior ul{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#links #menuinferior ul li{ 
    width: 100px;
    list-style-type: none;
}
#links #menuinferior ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-family:'Orator Std', monospace, 'Courier New', sans-serif, Courier;
    text-shadow: 0px 1px 2px black;
     
}

#links #menuinferior ul li a:hover{
    background-color: #31132a50;
    text-shadow: 0px 0px 30px white;
    transition: 0.3s;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 10px;
}


/*

menu inicial convertidos em tabela

header{
    position: relative;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
       /*abackground-image: linear-gradient(to top, #4a2040 30%, #6e3060);*/
    /*background-color: #3f1b37;*/
    
/*}
header picture img{
    padding: 10px;
    align-items: flex-start;
}
header #menusuperior {
    display: flex;
    width: auto;
    align-items: center;  
}
header #menusuperior ul{
    flex-wrap: wrap;
    width: 100%;
    display: table;
}
header #menusuperior ul li{ 
    padding: 0 80px;
    display:table-cell;
    list-style: none;

}
*/